/*CSS reset settings here
the total width of an element is:

(Margin x 2) + (Border x 2) + (Padding x 2) + Content Width*/
/* diplay: none;, inline;, block;, inline-block; */
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 10px;
}
#header{
 min-height: 150px;
 background-color: green;
 margin-bottom: 15px;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
 margin-right: 20px;
}
#main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 padding: 5px;
}
.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 10px;
 margin-bottom: 30px;
 text-align: center;
}
#advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 display: inline-block;
 text-align: center;
 margin-left: 20px;
}